html,
body {
    margin: 0 auto;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}

.container,
.body-content
{
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
}

body {
    background: #e7e7e7;
}

.main-header {

    display: flex;
    height: 150px;
    width: 100%;
    background-image: url(../images/header-back.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: flex-start;
}

header h1 {
    text-align: center;
    width: 50%;
    color: white;
    margin: 0;
    font-weight: normal;
    font-size: 36pt;

}

.href-container {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-top: 7px;
    height: 35%;
}

.href-container a[href='#active'] {
    font-family: 'Helvetica', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #A2D4EC;
}

.href-container a:not([href='#active']) {
    font-family: 'Helvetica', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
}

.href-container a:not([href='#active']):hover {
    color: #00B5B5;
}

section {
    background: white;
    width: 65%;
    margin: 0 auto;
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    color: #333;
}

article header {
    font-weight: bold;
    font-size: 16pt;
    margin-bottom: 20px;
}

p a {
    font-family: 'Helvetica', Arial, Helvetica, sans-serif;
    color: #00B5B5;
    text-decoration: none;
    font-size: 11pt;
    font-weight: bold;
}

.img-container {
    width: 100%;
    text-align: center;
}

code {
    display: inline-block;
    font-size: 12pt;
    width: 95%;
    background: #D6E8FA;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 7px;
}

footer {
    color: #999;
}

.mailHeader {
    margin-top: 50px;
}
