@{
    ViewData["Title"] = "Home Page";
}
<header class="main-header"></header>
<section>
    <article>
        <header>Основная информация</header>
        <p>
            <strong>HTTP</strong> — широко распространённый протокол передачи данных, изначально
            предназначенный для передачи гипертекстовых документов (то есть документов, которые могут
            содержать ссылки, позволяющие организовать переход к другим документам).
        </p>
        <p>
            Аббревиатура HTTP расшифровывается как <i>HyperText Transfer Protocol</i>, «протокол передачи
            гипертекста». В соответствии со спецификацией
            <a href="https://en.wikipedia.org/wiki/OSI_model">OSI</a>, HTTP является протоколом прикладного
            (верхнего, 7-го) уровня. Актуальная на данный момент версия протокола,
            HTTP 1.1, описана в спецификации <a href="http://tools.ietf.org/html/rfc2616">RFC 2616</a>.
        </p>
        <p>
            Протокол HTTP предполагает использование клиент-серверной структуры передачи данных. Клиентское
            приложение формирует запрос и отправляет его на сервер, после чего серверное программное
            обеспечение обрабатывает данный запрос, формирует ответ и передаёт его обратно клиенту. После
            этого клиентское приложение может продолжить отправлять другие запросы, которые будут обработаны
            аналогичным образом.
        </p>
        <p>
            Задача, которая традиционно решается с помощью протокола HTTP — обмен данными между
            пользовательским приложением, осуществляющим доступ к веб-ресурсам (обычно это веб-браузер) и
            веб-сервером. На данный момент именно благодаря протоколу HTTP обеспечивается работа Всемирной
            паутины.
        </p>
        <p>
            Также HTTP часто используется как протокол передачи информации для других протоколов прикладного
            уровня, таких как SOAP, XML-RPC и WebDAV. В таком случае говорят, что протокол HTTP используется
            как «транспорт».
        </p>
        <p>
            API многих программных продуктов также подразумевает использование HTTP для передачи данных —
            сами данные при этом могут иметь любой формат, например, <i>XML</i> или <i>JSON</i>.
        </p>
        <p>
            Как правило, передача данных по протоколу HTTP осуществляется через
            <strong>TCP/IP-соединения</strong>. Серверное программное обеспечение при этом обычно использует
            TCP-порт <strong>80</strong> (и, если порт не указан явно, то обычно клиентское программное
            обеспечение по умолчанию использует именно 80-й порт для открываемых HTTP-соединений),
            хотя может использовать и любой другой.
        </p>
    </article>
</section>