@{
    ViewData["Title"] = "Queries";
}
<header class="main-header"></header> 
<section>
    <article>
        <header>Примеры запросов</header>
        <p>
            HTTP запрос состоит из трех основных частей, которые идут в нем именно в том порядке, который указан
            ниже. Между заголовками и телом сообщения находится пустая строка (в качестве разделителя), она
            представляет собой символ перевода строки.
        </p>
        <div class="img-container">
            <img src="~/images/query.png" title="HTTP Запрос">
        </div>
        <p>
            <ul>
                <li>Строка запроса (Request Line)</li>
                <li>Заголовки (Message Headers)</li>
                <li>Пустая строка (разделитель)</li>
                <li>Тело сообщения (Entity Body) – необязательный параметр</li>
            </ul>
            Стартовая строка запроса выглядит так:
        </p>
        <code>METHOD URI HTTP/VERSION</code>
        <p>
            где <i>METHOD</i> — это как раз метод HTTP-запроса, <i>URI</i> — идентификатор ресурса,
            <i>VERSION</i> — версия протокола (на данный момент актуальна версия 1.1).
        </p>
        <p>
            <strong>Заголовки</strong> — это набор пар имя-значение, разделенных двоеточием. В заголовках
            передается различная служебная информация: кодировка сообщения, название и версия браузера, адрес,
            с которого пришел клиент (<i>Referrer</i>) и так далее.
        </p>
        <p>
            <strong>Тело сообщения</strong> — это, собственно, передаваемые данные. В ответе передаваемыми
            данными, как правило, является html-страница, которую запросил браузер, а в запросе, например, в
            теле сообщения передается содержимое файлов, загружаемых на сервер. Но как правило, тело сообщения в
            запросе вообще отсутствует. Рассмотрим пример.
        </p>
        <p><strong>Запрос:</strong></p>
        <code>
            GET /index.php HTTP/1.1<br>
            Host: example.com<br>
            User-Agent: Mozilla/5.0 (X11; U; Linux i686; ru; rv:1.9b5) Gecko/2008050509 Firefox/3.0b5<br>
            Accept: text/html<br>
            Connection: close
        </code>
        <p>
            Первая строка — это строка запроса, остальные — заголовки; тело сообщения отсутствует
        </p>
        <p><strong>Ответ:</strong></p>
        <code>
            HTTP/1.0 200 OK<br>
            Server: nginx/0.6.31<br>
            Content-Language: ru<br>
            Content-Type: text/html; charset=utf-8<br>
            Content-Length: 1234<br>
            Connection: close<br><br>
            ... HTML-СТРАНИЦА ...
        </code>
    </article>
</section>