@{
    ViewData["Title"] = "Security";
}
<header class="main-header"></header>
<section>
    <article>
        <header>Безопасность</header>
        <p>
            Сам по себе протокол HTTP не предполагает использование шифрования для передачи информации. Тем
            не менее, для HTTP есть распространённое расширение, которое реализует упаковку передаваемых
            данных в криптографический протокол <strong>SSL</strong> или <strong>TLS</strong>.
        </p>
        <p>
            Название этого расширения — <strong>HTTPS</strong> (<i>HyperText Transfer Protocol Secure</i>).
            Для HTTPS-соединений обычно используется TCP-порт <strong>443</strong>. HTTPS широко используется
            для защиты информации от перехвата, а также, как правило, обеспечивает защиту от атак вида
            <i>man-in-the-middle</i> — в том случае, если сертификат проверяется на клиенте, и при этом приватный
            ключ сертификата не был скомпрометирован, пользователь не подтверждал использование неподписанного
            сертификата, и на компьютере пользователя не были внедрены сертификаты центра сертификации
            злоумышленника.
        </p>
        <p>На данный момент HTTPS поддерживается всеми популярными веб-браузерами.</p>
    </article>
</section>